<div class="recipes_content">
 <% if @recipes.empty? %>
  <div class="recipes_content_title">検索結果はありません</div>
 <% else%>
  <div class="recipes_content_title">
    <% if @category.id != 1 %>
     <%= @category.name %>ジャンル 
    <% end %>
    <%= @keyword %>の検索結果
  </div>
  <%= render partial: "shared/recipe_container", locals: { recipes: @recipes } %>
  <% end %>
</div>