/* index */
.greeting_message {
  text-align: center;
  color: #800000;
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
}

.user_name_link, .title_name_link{
  font-weight: bold;
  text-decoration: none;
  color: #800000;
  text-shadow: 1px 1px 2px silver;
}

.search_box_area{
  margin-top: 15px;
}

.search_box {
  display: flex;
  justify-content: center;
}

.search_message{
  margin-top: 3px;
  text-align: center;
  font-size: 10px;
  color: #800000;
}

.recipes_content {
  margin-top: 15px;
}

.recipes_content_title {
  text-align: center;
  color: #800000;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  width: auto;
}

.recipe_lists{
  margin-top: 5px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recipe_list{
  display: block;
}

.recipe_title, .user_name{
  color: #800000;
  font-size: 15px;
}

.fit_image{
  width: 100%;
  object-fit: cover;
  height: 150px;
  }

/*  new */
.material {
  display: flex;
}

/* show */
.recipe_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.recipe_photo {
  margin-top: 20px;
  width: 30%;
  height: 15%;
}

.recipe_topics, .recipe_materials, .recipe_text {
  margin-top: 20px;
  width: 30%;
}

.topics_top_block {
  display: flex;
  justify-content: space-between;
}

.topics_top_left_block {
  display: flex;
  color:#800000;
}

.clip_count {
  margin-left: 5px;
}

.topics_user_name, .topics_category_name {
  color:#800000;
  font-size: 15px;
}

.topics_category_name {
  margin-top: 10px;
}

.material_title, .text_title{
  border-bottom: solid 1px;
  color:#800000;
}
