/* show */
.mypage_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.top_message {
  color: #800000;
  background: 	#FFF5EE;
  border-bottom: double #800000;
  font-weight: bold;
  font-size: 20px;
}

.follow_information {
  margin-top: 10px;
  display: flex;
  color: #800000;
  font-size: 15px;
}

.follow_count_link, .follower_count_link {
  text-decoration: none;
  color: #800000;
  text-shadow: 1px 1px 2px silver;
}

.follow_count, .follower_count {
  margin-left: 5px;
}

.login_profile {
  text-align: center;
  margin-top: 20px;
}

.profile_link, .present_link {
  text-decoration: none;
  color: #800000;
  text-shadow: 1px 1px 2px silver;
}

.block_title {
  text-align: center;
  color: #800000;
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
  border-bottom: solid 1px;
}

.block_text {
  text-align: center;
  font-size: 15px;
  color: #800000;
}

.present_application, .clip_index, .recipe_index {
  margin-top: 20px;
}
